<script>
    // import "./index.scss";
  
    /**
     * @type {number} Menu Count
     */
    // export let count = 3;
  
    let val = '{{name}}';

    // $: isVal = !!val;
</script>

<div>
  {val}
</div>
